.home-container {
    background-image: url(https://img.freepik.com/free-photo/mysterious-tropical-rainforest-glows-with-lush-greenery-generated-by-ai_188544-15026.jpg?w=1480&t=st=1691545887~exp=1691546487~hmac=fcff84b5a1a868a5221fc5d9305b670fe97579334cbaeb68c3c20730f6d5e604);
}

.sparkle {
    font-family: monospace;
    font-stretch: expanded;
    font-size: 100px;
    color: #9CAF88;
}

span {
    backdrop-filter: blur(10px);
}