.container {
    background-color: #00A4BD;
    border: 2px solid #00A4BD;
    padding: 10px;
    border-radius: 1rem;
    min-height: 10vh;
}

.container ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container li {
    text-align: center;
    margin-bottom: 10px;
}

.button {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: .375em;
    box-shadow: none;
    box-sizing: border-box;
    color: #363636;
    cursor: pointer;
    display: inline-flex;
    font-family: monospace;
    font-size: 20px;
    height: 2.5em;
    justify-content: center;
    line-height: 1.5;
    padding: calc(.5em - 1px) 1em;
    position: relative;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
}
button.button:hover {
    color: #add8e6;;
    border-color: #ADD8E6;
}

button.button:active {
    color:salmon;
    border-color: salmon;
}