.sign-in-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: ;
}

.signin-form {
    background-color: rgba(255, 255, 255, 0.9); /* Frosted background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Shadow effect */
    width: 300px;
}


.log-in-button {
    display: flex;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 16px 14px 18px;
    color: #fff;
    background-color: #9CAF88;
    height: 48px;
}

.log-in-button:hover{
    background-color:lemonchiffon;
}

.log-in-header {
    font-family: monospace;
    font-size: 50px;
}

