/* Add this CSS in your styles file */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}

.modal-content {
background-color: #ffd8cc;
padding: 20px;
border-radius: 5px;
}

.close-btn {
float: right;
cursor: pointer;
background: none;
border: none;
}

.exit-list {
    font-family: monospace;
    color: #f97272;
    background-color: #fff9a6;
    font-size: 30px;
    border-style: solid ;
}