.greeting-container {
    display: flex; /* Use flexbox to arrange the elements horizontally */
    align-items: center; /* Align items vertically in the center */
}

.h1 {
    font-family: "Courier New", Courier, monospace;
}