.greeting-container {
    display: flex; /* Use flexbox to arrange the elements horizontally */
    align-items: center; /* Align items vertically in the center */
    font-family: "Courier New", Courier, monospace;
    font-size: 30px;
}
